/* ---------- CSS Variables ---------- */
:root{
    /* Color theme taken from  Adobe Color */
    /* Color Theme Swatches in Hex */
    --cream: #EEF2F0;
    --dk-blue: #64A0A9; 
    --med-blue: #58B6C0;
    --lt-blue: #78BDC1;

    /* Other swatches for text & accents */
    --white: #fff;
    --lt-gray: #eaeaea;
    --med-gray: #555;
    --dk-gray: #222;

    /* Shadows for Elements that are Not Square */
    --filter-shadow-sm: drop-shadow(-3px 3px 7px var(--med-gray));
    --filter-shadow-lg: drop-shadow(-6px 6px 10px var(--med-gray));

    /* Adobe Font Family with Fallbacks */
    --fonts: "halogen-flare", Tahoma, sans-serif;
}

/* ---------- Body Styles ---------- */
/* TO DO */

/* This overlays a semi-transparent light gray color over our svg background to lighten it, you do not need to edit this code */
body::after{
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--lt-gray);
    filter: opacity(30%);
    z-index: -1;
}

body {
    background-color: lightblue;
    background-image: url('images/topography.jpg');
    color: darkgray;
    line-height: 1.5;
    font-family: var(--fonts), sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }

/* ---------- Header Styles ---------- */
/* TO DO */
header {
    background-color: cream;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* centers the header on the page */
  }

/* ---------- Logo Link Styles ---------- */
/* TO DO */
header a.header-link {
    float: left;
    margin-left: 2rem;
    padding: 0;
  }

/* ---------- Hover Styles for Logo Image and Link ---------- */
header > a:hover{
    background-color: var(--cream);
}

header a:hover img{
    filter: var(--filter-shadow-sm);
}

/* ---------- Image Styles ---------- */
/* TO DO */
img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 450px;
    margin: 1rem 0;
  }

/* Logo Image Styles  */
header img{
    filter: var(--filter-shadow-lg);
    margin: 0;
}

/* ---------- H1 Styles ---------- */
/* TO DO */
h1 {
    font-size: 2.5rem;
    display: inline-block;
    margin: 1.25rem 0 0 2rem;
    font-family: var(--fonts);
    font-weight: 700;
    font-style: normal;
  }

/* ---------- Link Styles ---------- */
/* TO DO */
a {
    display: block;
    padding: 1rem;
    color: darkgray;
  }

/* ---------- Navigation Styles ---------- */
/* TO DO */
nav {
  float: right;
  margin: 1rem 2rem 0 0;
}
/* ---------- Nav Ul Styles --------- */
/* TO DO */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
/* ---------- Nav Li Styles --------- */
/* TO DO */

nav li {
    float: left;
  }
/* ---------- Nav a Styles --------- */
/* TO DO */

nav a {
    display: block;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 0 24px 24px 0;
    color: darkgray;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    filter: var(--filter-shadow-lg);
  }
/*------- Navigation a Hover Styles ---------- */
nav a:hover{
    background-color: var(--dk-blue);
    filter: var(--filter-shadow-sm);
}

/* ---------- Link Hover Styles ---------- */
/* TO DO */

/* ---------- Main Styles ---------- */
/* TO DO */
main {
    clear: both;
    background: linear-gradient(var(--cream) 0%, var(--lt-blue) 20%, var(--med-blue) 50%, var(--dk-blue) 80%, var(--med-gray) 100%);
    padding: 2rem 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  main > section {
    padding: 4rem 0;
  }
/* ---------- Section Styles ---------- */
/* TO DO */

/* ---------- H2 Styles ---------- */
/* TO DO */
h2 {
    text-align: center;
    margin: 0.5rem 0;
    font-size: 3rem;
    font-family: var(--fonts);
    font-weight: 700;
    font-style: normal;
  }
/* ---------- Paragraph Styles ---------- */
/* TO DO */
p {
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0.5rem 0;
    text-align: center;
  }
  
  main > p {
    text-align: left;
    font-size: 1.25rem;
  }
/* For the paragraph under the h2 in the main */
/* TO DO */

/* ---------- H3 Styles ---------- */
/* TO DO */
h3 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem 0;
    font-family: var(--fonts);
    font-weight: 700;
    font-style: normal;
  }
/* ---------- About Section Styles ---------- */
/* TO DO */
#about {
    float: left;
    width: 500px;
    padding: 0 1.25rem;
  }
  
  #about a {
    display: block;
    width: 200px;
    margin: 1.5rem auto;
    background-color: var(--med-blue);
    border-radius: 0 24px 24px 0;
    color: cream;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    filter: var(--filter-shadow-lg);
    padding: 0.25rem 0;
  }
/* For the Book Services Link/button styles */
/* TO DO */

/* For the hover styles on the book services btn/link */
#about a:hover{
    background: var(--dk-blue);
    filter: var(--filter-shadow-sm);
}

/* About Image Styles */
/* TO DO */

/* ---------- Services Section Styles ---------- */
/* TO DO */
#services {
    clear: both;
  }
  
  #services > section {
    width: 368px;
    float: left;
    margin: 0 1rem;
  }
  
  #services h4 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
    font-family: var(--fonts
/* For the sections inside Services */
/* TO DO */

/* ---------- H4 Styles ---------- */
/* TO DO */

/* For the Paragraphs with prices in the services sections */
#services section p:last-of-type{
    /* TO DO */
}

/* ---------- Location Section Styles ---------- */
/* TO DO */

/* Location Image Styles */
/* TO DO */

/* For the div inside of the location section */
/* TO DO */

/* For the address text */
/* TO DO */

/* For the links in the address tag */
/* TO DO */

/* Location map image styles */
#location div img{
    /* TO DO */
}

/* ---------- Footer Styles ---------- */
/* TO DO */